.App {
  font-size: 30px;
  text-align: center;
}

ul li {
  list-style: none;
}
.MuiButton-containedPrimary{
  margin-right: 40px !important;
}
.MuiChip-root{
  width:60%;
  height: 54px !important;
  font-size: 1.5rem !important;
}